body {
  margin-top: 10px;
  width: 250px;
  height: 200px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background-color: #444;
}

input[type="entry"] {
  width: 80%;
  margin: 10px;
  margin-top: 20px;
  font-size: inherit;
  color: #444;
  background-color: #fff;
  border: 1px solid #fff;
}

input[type="button"] {
  margin: 10px;
  width: 80%;
  font-size: inherit;
  color: #fff;
  background-color: #444;
  border: 1px solid #fff;
}

input[type="button"]:hover {
  color: #444;
  background-color: #fff;
  border-color: #444;
}

input[type="button"]:active {
  scale: 1.2;
}
