body {
  margin-top: 10px;
  width: 250px;
  height: 200px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #f5f7fa;
  background-color: #444;
}

.light-mode {
  background-color: #e7e9ec;
  color: #444;
}

input[type="entry"] {
  width: 80%;
  margin: 10px;
  margin-top: 20px;
  color: inherit;
  font-size: inherit;
  background-color: inherit;
}

input[type="entry"]:focus {
  background-color: inherit;
}

input[type="button"] {
  margin: 10px;
  width: 80%;
  color: inherit;
  font-size: inherit;
  background-color: inherit;
}
