body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    background-color: #444;
}

h2 {
    font-size: 40px;
}

a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
}