body {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #f5f7fa;
    background-color: #444;
}

.light-mode {
    color: #444;
    background-color: #f5f7fa;
}

::-webkit-scrollbar {
    width: 0px;
}

h2 {
    display: none;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
}

.footer {
    font-family: "Ubuntu", sans-serif;
    background: rgb(73, 107, 190);
    padding: 1rem;
    color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

svg.footerIcon {
    height: 24px;
    fill: #f5f7fa;
}
